.listItem {
  display: block;
  position: relative;
  padding-top: var(--item-padding-vertical);
  padding-bottom: var(--item-padding-vertical);
  padding-left: calc(var(--level) * var(--item-level-offset) + var(--item-level-offset));
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;

  transition: background-color 0.1s ease;

  color: var(--item-text-color);
  background-color: var(--item-bg-color);

  &:hover {
    background-color: var(--item-bg-color-hover);
  }

  &.highlightPrimary:not(.selected) {
    background-color: var(--item-highlighted-1-bg-color);

    &:hover {
      background-color: var(--item-highlighted-1-bg-color-hover);
    }
  }

  &.highlightSecondary:not(.selected) {
    background-color: var(--item-highlighted-2-bg-color);

    &:hover {
      background-color: var(--item-highlighted-2-bg-color-hover);
    }
  }

  &.selected {
    color: var(--item-selected-text-color);
    background-color: var(--item-selected-bg-color);
  }
}
