.listItem {
  display: block;
  position: relative;
  padding-top: var(--item-padding-vertical);
  padding-bottom: var(--item-padding-vertical);
  padding-left: calc(var(--level) * var(--item-level-offset) + var(--item-level-offset));
  border-left: var(--container-padding-horizontal) solid transparent;
  border-right: var(--container-padding-horizontal) solid transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: var(--item-font-size);
  line-height: var(--item-line-height);

  transition: background 0.1s ease;

  color: var(--item-text-color);

  &:hover {
    background-color: var(--item-bg-color-hover);
  }

  &.highlightLastLevel:not(.selected) {
    background-color: var(--item-highlighted-1-bg-color);

    &:hover {
      background-color: var(--item-highlighted-1-bg-color-hover);
    }
  }

  &.highlightFirstLevel:not(.selected) {
    background-color: var(--item-highlighted-2-bg-color);

    &:hover {
      background-color: var(--item-highlighted-2-bg-color-hover);
    }
  }

  &.selected {
    color: var(--item-selected-text-color);
    background-color: var(--item-selected-bg-color);
  }
}
