.preloader {
  padding-left: var(--container-padding-horizontal);
  padding-right: var(--container-padding-horizontal);
  padding-top: var(--item-padding-vertical);

  display: flex;
  flex-direction: column;

  .item {
    height: var(--item-line-height);
    background-color: var(--preloader-item-color);
    margin-bottom: calc(var(--item-padding-vertical) * 2);
  }
}
