.container {
  padding-top: var(--container-padding-vertical);
  margin-right: var(--container-padding-horizontal);
  box-sizing: border-box;
  width: var(--container-width);
  overflow-y: auto;
  border: 1px solid var(--container-border-color);
  background-color: var(--container-bg-color);
}
